<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Pharmash - $title$</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" /css>

        <!-- RSS -->
        <link rel="alternate"
              type="application/rss+xml"
              title="Pharmash the Blog"
              href="http://www.pharmash.com/rss.xml" />

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-15562315-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        </head>
    <body>
    <!-- Header on top of the page. -->
        <div id="header">
            <a href="/index.html">
            Pharmash - the blog
            </a>
          </div>
        <br>
        <h1>$title$</h1>
        <div id="navigation">
            <a href="/posts.html">All posts</a>
            <a href="/author.html">Author</a>
            <a href="/index.html">Home</a>
        </div>
        <br><br>
        $body$
        <div id="footer"> Proudly powered by <a href=http://jaspervdj.be/hakyll/>Hakyll </a>
        </div>

    </body>


</html>
