<div id="posts">
  <h1>Recent posts</h1>
  <ul>$posts$</ul>
  <table>
    <tr>
      <td>
        <a href="http://feeds.feedburner.com/PharmashRssFeed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="float:right;border:0"/></a></h1>
      </td>
      <td>
      <a href="/posts.html">All posts...</a>
      &nbsp&nbsp&nbsp&nbsp
      </td>
    </tr>
  </table>
<div>
        $tagcloud$
    </div>
</div>

<div class="about">
    <h1>About</h1>
    <p>
        This is a blog nominally dedicated to the intersection of the 
        pharmaceutical industry with technology, business, life and 
        philosophy.  It will lean heavily toward the impact of web 
        technologies, particularly of the social variety. 
    </p>  
  </div>
